@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  max-width: 95%;
}

@media (min-width: 500px) {
  .container {
    max-width: 85%;
  }
}
@media (min-width: 900px) {
  .container {
    max-width: 75%;
  }
}
@media (min-width: 1000px) {
  .container {
    max-width: 70%;
  }
}

#__header {
  /* clip-path: circle(120vh at 50% -55vh); */
  /* background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%); */
}

#__header::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.8);
}

/* @media (min-width: 900px) {
  #__header {
    clip-path: circle(120vh at 50% -40vh);
  }
} */

#__live-link::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 200px;
  height: 80px;
  background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
  animation: animate 4s linear infinite;
}
#__live-link::after {
  content: "";
  position: absolute;
  inset: 2px;
  background: white;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(350deg);
  }
}
